[submodule "操作系统/熊运余/Lab/SCU-NachOS"]
	path = 操作系统/熊运余/Lab/SCU-NachOS
	url = git@github.com:Filtee/SCU-NachOS.git
[submodule "数据结构与算法/李晓华/Lab"]
	path = 数据结构与算法/李晓华/Lab
	url = git@github.com:Filtee/SCU-DSLabs.git
